<div class="cuerpo">
    <div class="logo">
        <img src="../../../assets/logoAforeBanorte.png" />
    </div>
    <div class="header">
        <div>Sucursal<span>Digital</span></div>
    </div>
    <br>
    <div class="login">
        <div class="form-label-group">
            <input id="inputEmail" class="form-control" placeholder="Usuario" required="" autofocus="">
            <label for="inputEmail">Usuario</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPass" class="form-control" placeholder="Contraseña" required="">
            <label for="inputPass">Contraseña</label>
        </div>

        <!-- <input type="text" placeholder="username" name="user">
        <input type="password" placeholder="password" name="password"> -->

        <input type="button" class="btn btn-lg btn-primary btn-block" value="Entrar" [routerLink]="['/FormularioEjemplo']">
    </div>
</div>