<div class="col-xs-6 col-sm-3 sidebar-offcanvas " role="navigation ">
    <ul class="list-group panel ">
        <li class="list-group-item " style="background-color: #343a40; "><i class="glyphicon glyphicon-align-justify "></i> <b>Panel Control</b></li>
        <li class="list-group-item " style="background-color: #343a40; "><input type="text " class="form-control search-query " placeholder="Search Something "></li>
        <li class="list-group-item " style="background-color: #343a40; "><a href="index.html "><i class="glyphicon glyphicon-home "></i>Inicio </a></li>
        <li class="list-group-item " style="background-color: #343a40; "><a href="icons.html "><i class="glyphicon glyphicon-certificate "></i>Calificar</a></li>
        <li class="list-group-item " style="background-color: #343a40; "><a href="icons.html "><i class="glyphicon glyphicon-certificate "></i>Legal</a></li>
        <li class="list-group-item " style="background-color: #343a40; "><a href="icons.html "><i class="glyphicon glyphicon-certificate "></i>Reportes</a></li>
        <li class="list-group-item " style="background-color: #343a40; " routerLinkActive="active "><a href="icons.html "><i class="glyphicon glyphicon-certificate " routerLink="user "></i>User</a></li>
    </ul>
</div>